.idea
.vscode/
tracker/inputs/
tracker/features/
tracker/results/
tracker/weights/
static/log/
static/registration/**/*.npy
static/registration/**/*.jpg

db.sqlite3
*.pyc
*.csv
*.mp4
*.ipynb