<!-- templates/registration/registration.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock %}
{% block content %}
Registration Page
<div>
    <video id="video-active" class="video-active" width="530" height="440" controls autoplay>
        <source src={% static video_path %} type="video/mp4"> </source>
    </video>
</div>
<span id="current">0:00</span>
<span id="duration">0:00</span><br>
<form method="POST" action="face_recognition" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock %}