<!-- templates/accounts/signup.html -->
{% extends 'base.html' %}

{% block title %}숨돈이{% endblock %}

{% block content %}
<div class="container max-w-max p-0">
    <div class="grid grid-cols-1 md:grid-cols-2 h-screen">
      <div class="max-h-96 md:h-screen">
        <!-- <img class="w-screen h-screen object-cover object-top" src="https://images.pexels.com/photos/270373/pexels-photo-270373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> -->
        <img class="w-screen h-screen object-cover object-top" src="https://www.salawus.com/assets/htmlimages/loan.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      </div>
      <div class="flex bg-gray-100 p-10">
        <div class="mb-auto mt-auto max-w-lg">
          <h1 class="text-3xl uppercase">숨돈이</h1>
          <p class="font-semibold mb-5">외상자 추적 서비스</p>
          <p>외상값을 갚지 않는 손님들 때문에 하셨던 고생은 이제 그만!! 숨돈이로 편리하고 쉽게 외상자를 추적하여 지금까지 가지고 계셨던 외상값 문제를 해결하세요.</p>
          <button class="bg-black rounded-md py-3 px-7 mt-6 text-white">이메일로 연락하기</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}